@charset "UTF-8";
#index {
    display: inline-block;
    margin: 40px 20px 40px 20px; 
    text-align: center;
}

#index #profile-img {float: left; width:300px; }
#index #greetings { width:600px; text-align: center; }

/* *********************************************************************************** */
#full-content {
    width: 900px;
}




#mPage-btn {
    display: inline-block;
    margin-top: 50px;
    width: 900px;
}


#btn_main {
    border: 4px solid red;
	border-radius: 25px;
	padding: 30px 30px 50px 30px;
	font-size: 25px;
    margin: 10px;
    height: 210px;
    text-align: center;
    float: left;
}

#ticket{
    width: 180px;
    height: 180px;
    display: block;
}

#popcorn{
    width: 180px;
    height: 180px;
    display: block;
}

#receipt{
    width: 180px;
    height: 180px;
    display: block;
}