
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #e71919;
}

p {
    text-align: center;
    margin-top: 20px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

.btn-home {
    padding: 10px 20px;
    background-color: #e71919;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-home:hover {
    background-color: #bc1e06;
}
